.userhotelcard {
  background-color: rgba(255, 255, 255, 0.645);
  border: 1px solid rgba(0, 0, 0, 0.235);
  margin: -26rem 10px 40px 10px;
  padding: 3rem;
  border-radius: 1rem;
  width: 65%;

  &__data {
    display: flex;
    justify-content: space-between;
    &__image {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
    }
  }
}
