.pagination {
  // margin-top: -30px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.093);
  border-bottom: 1px solid rgba(0, 0, 0, 0.093);

  &__btnl {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 100%;
    opacity: 0.2;
    text-align: center;
    border: 1px solid rgb(86, 84, 84);
    margin: 10px;
  }

  &__btnr {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: white;
    border-radius: 100%;
    opacity: 0.2;
    text-align: center;
    border: 1px solid rgb(86, 84, 84);
    margin: 10px;
  }

  &__btnr:hover {
    cursor: pointer;
    background-color: #ff3f3f;
    color: white;
    transition: background-color 0.3s ease;
    transform: translate(0, -2px);
    opacity: 1;
    border: none;
  }
  &__btnl:hover {
    border: none;
    opacity: 1;
    cursor: pointer;
    background-color: #ff3f3f;
    color: white;
    transition: background-color 0.3s ease;
    transform: translate(0, -2px);
  }
}
