.hotelcard {
  padding: 222px 24px 0px 24px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5),
      black
    ),
    url("../../assets/images/fondoHotel.jpeg");
  background-size: 100vw 63.8vw;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    width: 70%;
    padding: 24px;
    border-radius: 24px;

    &__data {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__text {
          font-size: 62px;
          line-height: 1.161em;
          font-weight: 700;
          width: 60rem;
          color: rgba(255, 255, 255, 0.95);
          margin-top: 0px;
          margin-bottom: 16px;
        }

        &__anchors {
          width: 26%;
          display: flex;
          justify-content: flex-end;
          cursor: pointer;

          &__a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 42%;
          }
          a {
            color: rgba(255, 255, 255, 0.6);
            font-size: 1.25rem;
            line-height: 1.667em;
            font-weight: 400;
          }
          &__a:hover {
            color: white;
            font-size: 1.4rem;
          }
        }
      }

      &__sec {
        display: flex;
        flex-direction: column;

        &__span {
          margin-bottom: 10px;
          color: white;
          font-size: 18px;
          line-height: 1.667em;
          font-weight: 400;
        }

        &__buttons {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
        }
      }
    }

    &__images {
      margin-top: 5px;
      padding: 10px;
      display: grid;
      height: 600px;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;

      img {
        height: 100%;
        object-fit: cover;
      }

      &__main {
        border-radius: 20px 0px 0px 20px;
        grid-row: 1/3;
      }

      &__bar {
        border-radius: 0 20px 0 0;
      }
      &__other {
        border-radius: 0 0 20px 0;
      }
    }
  }
}
