.presentation {
  padding: 422px 24px 318px 24px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5),
      black
    ),
    url("../../assets/images/presentation.jpg");
  background-size: auto, cover;
  display: flex;
  justify-content: center;

  &__data {
    max-width: 718px;
    display: block;
    text-align: center;

    &__title {
      font-size: 62px;
      line-height: 1.161em;
      font-weight: 700;
      color: #ffffff;
      margin-top: 0px;
      margin-bottom: 16px;
    }

    &__description {
      color: white;
      font-size: 18px;
      line-height: 1.667em;
      font-weight: 400;
      margin-bottom: 48px;
    }

    &__buttonRow {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &__red {
          width: 240px;
          outline: none;
          background-color: #ff3f3f;
          padding: 11px 22px;
          color: white;
          border-radius: 76px;
          border: none;
          margin-left: 20px;
          margin-right: 20px;
          font-size: 1.25rem;
          cursor: pointer;
        }

        &__red:hover {
          background-color: #ca2626;
          transform: scale(1.05)
        }

        &__red:focus {
          background-color: #ff3f3f;
          transform: scale(0.95)
        }

        &__white {
          width: 240px;
          outline: none;
          color: black;
          padding: 11px 22px;
          background-color: white;
          border-radius: 76px;
          border: none;
          margin-left: 20px;
          margin-right: 20px;
          font-size: 1.25rem;
          cursor: pointer;
        }

        &__white:hover {
          background-color: white;
          transform: scale(1.05)
        }

        &__white:focus {
          background-color: white;
          transform: scale(0.95)
        }
    }
  }
}
