.sliderHost {
  padding-top: 200;
  padding-bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-right: 10%;

  h2 {
    font-size: 30px
  }

  &__container {
    padding: 0 24px;
    max-width: 100%;
    margin: 0 auto;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__btn {
        outline: none;
        padding: 26px 38px;
        margin-right: 26px;
        font-size: 18px;
        line-height: 20px;
        color: #191919;
        background-color: white;
        border: 1px solid #eeeeee;
        border-radius: 96px;
        box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
      }

      &__btn:hover {
        cursor: pointer;
        background-color: #ff3f3f;
        color: white;
        transition: background-color 0.3s ease;
        transform: translate(0, -2px);
      }
    }

    &__bottom {
      margin-top: 10px;
      display: flex;
      align-items: center;
      min-width: 100%;

      &__cards {
        // min-width: 85%;
        width: 90%;
        // white-space: nowrap;
        // height: 500px;
        position: relative;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        scroll-behavior: smooth;
      }
      ::-webkit-scrollbar {
        display: none;
      }

      &__btnl {
        width: 70px;
        height: 70px;
        background: rgb(0, 0, 0);
        border-radius: 100%;
        opacity: 0.2;
        text-align: center;
        border: 1px solid rgb(86, 84, 84);
        margin: 10px;
      }

      &__btnr {
        width: 70px;
        height: 70px;
        font-size: 30px;
        background: rgb(0, 0, 0);
        border-radius: 100%;
        opacity: 0.2;
        text-align: center;
        border: 1px solid rgb(86, 84, 84);
        margin: 10px;
      }

      &__btnr:hover {
        cursor: pointer;
        background-color: rgba(255, 63, 63, 0.8);
        color: white;
        transition: background-color 0.3s ease;
        transform: translate(0, -2px);
        opacity: 1;
        border: none;
      }
      &__btnl:hover {
        border: none;
        opacity: 1;
        cursor: pointer;
        background-color: rgba(255, 63, 63, 0.8);
        color: white;
        transition: background-color 0.3s ease;
        transform: translate(0, -2px);
      }
    }
  }
}
