.bookingCard {
    background-color: transparent;
    box-shadow: 0 4px 22px 0 rgba(20, 20, 43, 0.164);
    opacity: 0.95;
    border: 2px solid rgb(229, 225, 225);
    border-radius: 1.5rem;
    width: 70%;
    height: 26.9rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 30% 70% 0;
    grid-template-rows: 5% 95% 0;
    padding-bottom: 0;
    overflow: hidden;
    backdrop-filter: blur(8px) grayScale(50%);

    h1{
        text-align: center;
    }

    p {
        text-align: center;
        padding: 8px;
        font-weight: 600;
    }

    &__close {
        grid-column: 2;
        grid-row: 1;
        width: 90px;
        margin-left:85%;
        margin-top: 10px;
        background-color: #ff3f3f;
        padding: 15px 20px 15px 20px;
        color: white;
        font-size: 1.1rem;
        border-radius: 56px;
        border: none;
        line-height: 1px;
        text-align: center;
        cursor: pointer;
    }

    &__close:hover {
        background-color: #ca2626;
        transform: scale(1.05)
    }

    &__image {
        grid-column: 1;
        grid-row: 1;
        
        &__img{
            border: 1px solid grey;
            border-radius: 1.5rem 0 1.5rem 0;
        }
    }

    &__info {
        // padding-top: 40px;
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        margin-top: -1.2rem;
        width: 85%;
        height: 26.5rem;
        // margin: 0 30px

        &__pay {
            grid-column: 2;
            grid-row: 2;
            outline: none;
            background-color: #ff3f3f;
            padding: 8px 16px;
            color: white;
            border-radius: 76px;
            border: none;
            margin-top: 1rem;
            margin-left: 37%;
            margin-right: 20px;
            font-size: 1.25rem;
            cursor: pointer;
            box-shadow: 0 2px 12px 0 rgb(20 20 43 / 40%);
          }
  
          &__pay:hover {
            background-color: #ca2626;
            transform: scale(1.05)
          }
  
          &__pay:focus {
            background-color: #ff3f3f;
            transform: scale(0.95)
          }

          &__cancel {
            grid-column: 2;
            grid-row: 2;
            outline: none;
            background-color: rgba(133, 112, 112,0.9);
            padding: 8px 16px;
            color: #ca2626;
            border-radius: 1rem;
            border: none;
            margin-top: 1rem;
            // margin-left: 37%;
            // margin-right: 20px;
            font-size: 1.25rem;
            box-shadow: 0 2px 12px 0 rgb(20 20 43 / 40%);
          }


        
    }
}