.publication {    
    background-color: white;
    // position: center;
    margin: 0 auto;    
    padding: 0 30px;
    text-align: center;
    align-items: center;

    h1 {
        font-size: 40px;
        line-height: 1.161em;
        font-weight: 700;
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    &__form {
        margin: 60px auto;
        width:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        background-color: white;
        padding: 2px;

        span {
            text-align: right;
            font-weight: bold;
            font-size: 1.6rem;
            margin-bottom: 30px;
        }
        
        label {
            display: block;
            padding: 5px;
            margin-bottom: 10px
        }
        
        input {
            width: 150%;
            max-height: 5px;
            margin-bottom: 5px;
            margin-top: 15px;
            padding: 16px 24px;
            border: 1px solid black;
            border-radius: 100px;
            background-color: #fff;
            box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
            -webkit-transition: box-shadow 300ms ease, color 300ms ease, border-color 300ms ease;
            transition: box-shadow 300ms ease, color 300ms ease, border-color 300ms ease;
            font-size: 16px;
            line-height: 18px;
        }
        
    }

    &__previous {
        padding: 18px 28px;
        margin-right: 26px;
        margin-bottom: 10px;
        border: none;
        border-radius: 40px;
        background-color: #ff3f3f;
        color: #fff;
        font-size: 18px;
        line-height: 20px;
    }

    &__next {
        padding: 18px 28px;
        margin-right: 26px;
        margin-bottom: 10px;
        border: none;
        border-radius: 40px;
        background-color: #ff3f3f;
        color: #fff;
        font-size: 18px;
        line-height: 20px;
    }
}