.cards {
    display: inline-block;
    border-radius: 24px;
    box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
    width: 350px;
    height: 350px;
    margin: 5px;
    background-color: #ffffff1f;
    backdrop-filter: blur(6px) grayscale(20%);
  
    .link {
      text-decoration: none;
      color: #ffffff;
    }

    p {
      font-size: 1.3rem;
    }
  
    &__image {
      min-width: 350px;
      height: 200px;
      border: 0;
      object-fit: cover;
      vertical-align: middle;
      border-radius: 24px 24px 0 0;
    }
  
    &__content {
      padding: 20px;
  
      &__title {
        text-align: center;
        margin-bottom: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.4rem;
      }
  
      &__description {
        min-height: fit-content;
        margin-bottom: 15px;
        color: #ffffff;
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
        display: flex;
      }
  
      &__badges {
        display: flex;
        align-items: center;
        justify-content: center;

        &__ul {
          list-style-type: none;

          &__book {
            font-size: 1.2rem;
          }
        }
  
        &__stars {
          display: flex;
          width: 70px;
          justify-content: space-evenly;
          align-items: center;
          padding: 14px;
          margin-right: 14px;
          font-size: 1.25rem;
          line-height: 20px;
          // color: #191919;
          color: #e0e004e7;
          border: 1px solid #eeeeee;
          border-radius: 96px;
        }

        &__huesp{
            font-size: 1.2rem;
        }
  
      }
  
      &__divider {
        margin: 32px 0 24px 0;
        border: 1px solid rgba(162, 162, 162, 0.325);
      }
  
      &__info {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        &__btn {
          padding: 18px 24px;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 20px;
          color: white;
          background-color: #ff3f3f;
          border: none;
          border-radius: 96px;
        }
      }
    }
  }
  
  .cards:hover {
    transform: scale(.98);
    cursor: pointer;
    backdrop-filter: none;
  }

// .banned {
//     display: inline-block;
//     border-radius: 24px;
//     box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
//     width: 350px;
//     height: 350px;
//     margin: 5px;
//     background-color: #ffffff1f;
//     backdrop-filter: blur(6px) grayscale(20%);

//     .link {
//       text-decoration: none;
//       color: #ffffff;
//     }

//     p {
//       font-size: 1.3rem;
//     }
  
//     &__image {
//       min-width: 350px;
//       height: 200px;
//       border: 0;
//       object-fit: cover;
//       vertical-align: middle;
//       border-radius: 24px 24px 0 0;
//     }
  
//     &__content {
//       padding: 32px 24px 28px 24px;
  
//       &__title {
//         text-align: left;
//         margin-bottom: 8px;
//         overflow: hidden;
//         white-space: wrap;
//         text-overflow: ellipsis;
//       }
  
//       &__description {
//         height: 100px;
//         margin-bottom: 16px;
//         color: #5d5d5d;
//         overflow: hidden;
//         white-space: wrap;
//         text-overflow: ellipsis;
//       }
  
//       &__badges {
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         &__ul {
//           list-style-type: none;
          
//           &__book {
//             font-size: 1.2rem;
//           }
//         }
  
//         &__stars {

//           display: flex;
//           width: 70px;
//           justify-content: space-evenly;
//           align-items: center;
//           padding: 14px;
//           margin-right: 14px;
//           font-size: 1.5rem;
//           line-height: 20px;
//           // color: #191919;
//           color: #e0e004e7;
//           border: 1px solid #eeeeee;
//           border-radius: 96px;
//         }
  
//       }
  
//       &__divider {
//         margin: 32px 0 24px 0;
//         border: 1px solid rgba(162, 162, 162, 0.325);
//       }
  
//       &__info {
//         font-size: 1.8rem;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
  
//         &__btn {
//           padding: 18px 24px;
//           font-size: 1.6rem;
//           font-weight: 700;
//           line-height: 20px;
//           color: white;
//           background-color: #ff3f3f;
//           border: none;
//           border-radius: 96px;
//         }
//       }
//     }
//   }
  

  .banned {
    display: inline-block;
    border-radius: 24px;
    box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
    width: 350px;
    height: 350px;
    margin: 5px;
    background-color: #ffffff1f;
    opacity: 0.5;
    backdrop-filter: blur(6px) grayscale(20%);
  
    .link {
      text-decoration: none;
      color: #ffffff;
    }

    p {
      font-size: 1.3rem;
    }
  
    &__image {
      min-width: 350px;
      height: 200px;
      border: 0;
      object-fit: cover;
      vertical-align: middle;
      border-radius: 24px 24px 0 0;
    }
  
    &__content {
      padding: 20px;
  
      &__title {
        text-align: center;
        margin-bottom: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.4rem;
      }
  
      &__description {
        min-height: fit-content;
        margin-bottom: 15px;
        color: #ffffff;
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
        display: flex;
      }
  
      &__badges {
        display: flex;
        align-items: center;
        justify-content: center;

        &__ul {
          list-style-type: none;

          &__book {
            font-size: 1.2rem;
          }
        }
  
        &__stars {
          display: flex;
          width: 70px;
          justify-content: space-evenly;
          align-items: center;
          padding: 14px;
          margin-right: 14px;
          font-size: 1.25rem;
          line-height: 20px;
          // color: #191919;
          color: #e0e004e7;
          border: 1px solid #eeeeee;
          border-radius: 96px;
        }

        &__huesp{
          display: flex;
          justify-content: flex-end;
          margin-top: -2.6rem;
          margin-right: 1rem;
          font-size: 1.2rem;
        }

        &__banned {
          color: #ff3f3f;
          font-size: 14rem;
          margin-top: -6rem;
        }
  
      }
  
      &__divider {
        margin: 32px 0 24px 0;
        border: 1px solid rgba(162, 162, 162, 0.325);
      }
  
      &__info {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        &__btn {
          padding: 18px 24px;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 20px;
          color: white;
          background-color: #ff3f3f;
          border: none;
          border-radius: 96px;
        }
      }
    }
  }
  
  .banned:hover {
    transform: scale(.98);
    cursor: pointer;
    opacity: 1;
  }