.userhotelcard {
  background-color: rgba(255, 255, 255, 0.645);
  border: 1px solid rgba(0, 0, 0, 0.235);
  margin: 30px 10px;
  padding: 24px;
  border-radius: 24px;

  &__data {
    display: flex;
    justify-content: space-between;
    &__image {
      width: 200px;
      height: 200px;
      border-radius: 100%;
    }
  }
}
