.card {
  display: inline-block;
  border-radius: 24px;
  border: none;
  box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
  width: 400px;
  height: 700px;
  margin-right: 25px;
  background-color: #ffffff1f;
  backdrop-filter: blur(6px) grayscale(20%);

  .link {
    text-decoration: none;
    color: #ffffff;
  }

  &__image {
    min-width: 400px;
    height: 250px;
    border: 0;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 24px 24px 0 0;
  }

  &__content {
    padding: 20px;

    &__title {
      text-align: center;
      font-size: 1.4rem;
      margin-bottom: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__description {
      min-height: fit-content;
      margin-bottom: 15px;
      // color: #5d5d5d;
      color: #ffffff;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      white-space: wrap;
    }

    &__badges {
      display: flex;
      align-items: center;
      justify-content: center;

      &__stars {
        display: flex;
        width: 70px;
        justify-content: space-evenly;
        align-items: center;
        padding: 12px;
        margin-right: 14px;
        font-size: 1.2rem;
        line-height: 20px;
        // color: #191919;
        color: #e0e004e7;
        border: 1px solid #eeeeee;
        border-radius: 96px;
      }

      &__huesp {
        padding: 12px;
        margin-right: 14px;
        font-size: 1rem;
        line-height: 20px;
        // color: #191919;
        color: #ffffff;
        border: 1px solid #eeeeee;
        border-radius: 96px;
      }
    }

    &__divider {
      margin: 32px 0 24px 0;
      border: 1px solid rgba(162, 162, 162, 0.325);
    }

    &__info {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;

      &__btn__active {
        outline: none;
        background-color: #ff3f3f;
        padding: 10px 20px;
        color: white;
        border-radius: 76px;
        border: none;
        // margin-left: 20px;
        // margin-right: 20px;
        font-size: 1rem;
        cursor: pointer;
      }

      &__btn {
        width: fit-content;
        text-align: center;
        padding: 18px 24px;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 20px;
        color: white;
        background-color: #ff3f3f;
        border: none;
        border-radius: 76px;
        cursor: pointer;
        box-shadow: 0 2px 12px 0 rgb(20 20 43 / 20%);
      }
    }
  }
}

.card:first-child:hover {
  cursor: pointer;
  transform: scale(.98);
  backdrop-filter: none;
}

.card:hover {
  cursor: pointer;
  // box-shadow: 10px 20px 10px 0 rgba(81, 81, 82, 0.5);
  transform: scale(.98);
  backdrop-filter: none;
}

.card:last-child:hover {
  cursor: pointer;
  transform: scale(.98);
  backdrop-filter: none;
}