.hotelscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 350px 24px 318px 0px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
