.hotelscontainer {
  display: flex;
  flex-direction: column;
  padding-top: 27rem;

  &__map {
    margin-top: 8rem;
    margin-bottom: 12rem;
    opacity: 0.95;
  }

  &__cards {
    // margin-top: 1rem;
    margin-bottom: -4rem;
    min-height: 90.7rem;
    width: 114.5rem;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    transform: scale(0.82);
    justify-content: flex-start;
    align-items: flex-start;
  }
}
