.containerFS {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__filter {
        display: flex;
        gap: 30px;
        padding: 10px 25px;
        box-shadow: 0 2px 12px 0 rgb(20 20 43 / 16%);
        border-radius: 2rem;
        align-items: center;
        // background-color: white;
        background-color: rgba(255, 255, 255, 0.8);
        height: 105px;

        &__price {

            &__title {
                margin: -0.5rem 0 0.5rem 0;
                text-align: center;
                font-weight: 550;
                font-size: 1rem;
                color: #5d5d5d;
            }

            &__options {
                display: flex;
                justify-content: center;
                gap: 20px;

                &__minPrice {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    input {
                        width: 70px;
                        padding: 5px 0px 5px 10px;
                        border-radius: 10px;
                        border-color: #b5b5b5;
                    }

                }

                &__maxPrice {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    input {
                        width: 70px;
                        padding: 5px 0px 5px 10px;
                        border-radius: 10px;
                        border-color: #b5b5b5;
                    }
                }
            }
        }

        &__vl {
            border-left: 1.5px solid #d5d5d5;;
            height: 69px;
        }
        
        &__stars {

            &__title {
                margin: -0.5rem 0 0.5rem 0;
                text-align: center;
                font-weight: 550;
                font-size: 1rem;
                color: #5d5d5d;
            }

            &__options {
                display: flex;
                justify-content: center;
                gap: 20px;
                align-items: center;

                &__minStars {
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    select {
                        border-radius: 10px;
                        padding: 5px;
                        border-color: #b5b5b5;
                        width: 60px;
                    }
                }

                &__maxStars {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    select {
                        border-color: #b5b5b5;
                        border-radius: 10px;
                        padding: 5px;
                        width: 60px;
                    }
                }
            }
        }
        
        &__btn {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 0.8rem;

            &__reset {
                width: 80px;
                height: 33px;
                font-size: 1rem;
                font-weight: 500;
                line-height: 20px;
                color: #191919;
                background-color: white;
                border: none;
                border-radius: 80px;
                box-shadow: 0 2px 12px 0 rgb(20 20 43 / 20%);
            }
            &__reset:hover {
                cursor: pointer;
                background-color: rgb(245, 245, 245);
                transform: scale(1.05);
            }

            &__filtrar {
                background-color: #ff3f3f;
                width: 80px;
                height: 33px;
                color: white;
                font-size: 1rem;
                font-weight: 500;
                border-radius: 80px;
                border: none;
            }
            &__filtrar:hover {
                cursor: pointer;
                background-color: #ca2626;
                transform: scale(1.05)
            }
        }

    }

    &__sort {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding: 10px 25px;
        box-shadow: 0 2px 12px 0 rgb(20 20 43 / 16%);
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 0.8);
        height: 105px;

        &__title {
            display: flex;
            font-weight: 550;
            font-size: 1.2rem;
            color: #5d5d5d;
            align-items: center;
            gap: 5px;
            margin-top: 0.5rem;
            margin-bottom: -0.5rem;

            &__icon {
                font-size: 1.3rem;
            }
        }

        &__options {
            display: flex;
            gap: 20px;

            &__price {
                display: flex;
                align-items: center;
                gap: 10px;

                select {
                    width: 130px;
                    padding: 5px 0px 5px 10px;
                    border-radius: 10px;
                    border-color: #b5b5b5;
                }
            }

            &__stars {
                display: flex;
                align-items: center;
                gap: 10px;

                select {
                    width: 130px;
                    padding: 5px 0px 5px 10px;
                    border-radius: 10px;
                    border-color: #b5b5b5;
                }
            }
        }
    }
}
