.container {
  position: relative;
}

.reservationContainer {
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 0;
  // margin-right: 3%;
  margin-bottom: 26rem;
}

.reservation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 135%;
  right: 6%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: white;
  height: 20rem;
  width: 18rem;
  padding: 25px;
  border-radius: 1.5rem;
  box-shadow: 0 2px 12px 0 rgba(20, 20, 43, 0.164);
  transform: scale(1.15);

  &__check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    border: none;
    width: 120px;
    padding-bottom: 10px;

    &__title {
      color: #5d5d5d;
      font-weight: 520;
      font-size: 1rem;
    }

    &__value {
      font-size: 0.9rem;
    }

    &__calendar {
      position: absolute;
      top: 302px;
      left: 50%;
      transform: translate(-115%, -85%);
      padding: 15px 25px 0px 25px;
      background-color: white;
      border-radius: 30px;
      height: 405px;
      transition: 1sec;
      box-shadow: 0 2px 12px 0 rgba(20, 20, 43, 0.164);
    }
  }
  // &__check:hover {
  //   cursor: pointer;
  // }

  &__amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: none;
    width: 130px;
    padding-bottom: 20px;
    align-items: center;

    &__title {
      color: #5d5d5d;
      font-weight: 520;
      font-size: 1rem;
    }

    &__guests {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 6rem;
      margin-top: 0.5rem;

      &__value {
        font-size: 0.9rem;
      }

      &__btn {
        font-size: 1rem;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        width: 27px;
        height: 27px;
        background: #eff2f7;
        margin-top: 0.2rem;
      }

      &__btn:hover {
        background: #e1e7f0;
        cursor: pointer;
      }
    }
  }

  &__amount:hover {
    cursor: default;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 14rem;
    height: 4.7rem;
    
    &__btn {
      width: 6rem;
      height: 3rem;
      padding: 1rem;
      background-color: rgb(255, 63, 63, 0.95);
      box-shadow: 0 2px 12px 0 rgba(20, 20, 43, 0.264);
      color: white;
      font-size: 0.85rem;
      font-weight: 500;
      border-radius: 76px;
      border: none;
      text-decoration: none;
    }
  
    &__btn:hover {
      cursor: pointer;
      background-color: #ca2626;
      transform: scale(1.05)  
    }  
  }
}

.rdrDefinedRangesWrapper {
  display: none;
  padding-top: 0px;
  font-size: 2em;
}

.rdrDateDisplayWrapper {
  background-color: white;
}

.rdrCalendarWrapper.rdrDateRangeWrapper {
  font-size: 1.25em;
}
