.profiledetail {
  width: 1000px;
  padding: 24px;

  ul {
    list-style-type: none;

    li {
      padding: 10px;
      text-align: center;
      font-size: 1.7rem;
      line-height: 20px;
      color: #191919;
    }
  }

  .slider {
    width: 100%;
  }

  h1 {
    font-size: 40px;
    margin-left: 10px;

  }
  
  h3 {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 25px;
    
  }

  &__date {
    margin-bottom: 20px;
    font-style: italic;
  }

  &__stars {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  &__divider {
    width: 100%;
    margin: 32px 0 24px 0;
    border: 1px solid rgba(162, 162, 162, 0.325);
  }


  &__post {
    outline: none;
    background-color: #ff3f3f;
    padding: 11px 22px;
    color: white;
    border-radius: 76px;
    border: none;
    margin-left: 70%;
    margin-right: 20px;
    font-size: 1.25rem;
    cursor: pointer;
    box-shadow: 0 2px 12px 0 rgb(20 20 43 / 40%);
  }

  &__post:hover {
    background-color: #ca2626;
    transform: scale(1.05)
  }

  &__post:focus {
    background-color: #ff3f3f;
    transform: scale(0.95)
  }
}
