.header {
  display: block;
  position: absolute;
  top: 30px;
  left: 0%;
  right: 0%;

  p {
    font-size: 1.8rem;
    overflow-wrap: break-word;
  }

  h1 {
    font-size: 1.222rem;
    overflow-wrap: break-word;
  }

  h2 {
    font-size: 4rem;
    overflow-wrap: break-word;
  }

  h3 {
    font-size: 2.3rem;
    overflow-wrap: break-word;
  }

  h4 {
    font-size: 1.273rem;
    overflow-wrap: break-word;
  }

  h5 {
    font-size: 1.333rem;
    overflow-wrap: break-word;
  }

  h6 {
    font-size: 1.375rem;
    overflow-wrap: break-word;
  }

  a {
    text-decoration: none;
  }

  &__container {
    &__content {
      display: flex;
      background-color: rgba(255, 255, 255, 0.8);
      align-items: center;
      justify-content: space-between;
      padding: 16px 22px 16px 38px;
      font-size: 1.667em;
      color: black;
      border: 1px solid rgba(0, 0, 0, 0.093);

      &__logo {
        width: 200px;
      }

      &__ul {
        display: flex;
        justify-content: end;
        align-items: center;
        list-style: none;
        font-size: 1rem;

        li {
          font-size: 1.2rem;
          font-weight: 400;
          margin-left: 32px;
          text-decoration: none;
          color: black;
        }

        li:hover {
          cursor: pointer;
          color: red;
          transition: color 0.3s linear;
        }

        &__btn {
          outline: none;
          background-color: #ff3f3f;
          padding: 11px 22px;
          color: white;
          border-radius: 76px;
          border: none;
          margin-left: 20px;
          margin-right: 20px;
          font-size: 1.25rem;
          cursor: pointer;
          box-shadow: 0 2px 12px 0 rgb(20 20 43 / 40%);
        }

        &__btn:hover {
          background-color: #ca2626;
          transform: scale(1.05)
        }

        &__btn:focus {
          background-color: #ff3f3f;
          transform: scale(0.95)
        }

        &__bag:hover {
          opacity: 20%;
          transform: scale(0.95);
          transition: opacity 0.2s ease;
        }

        &__userLogo {
          border-radius: 100%;
          transform: scale(0.8);
          border: 1px solid #000000;
        }
        &__userLogo:hover {
          opacity: 90%;
        }

        &__cerrarSesion {
          margin-left: 32px;
          text-decoration: none;
          color: black;
          border: none;
          background-color: transparent;
        }
        &__cerrarSesion:hover {
          cursor: pointer;
          color: red;
          transition: color 0.3s linear;
        }
      }
    }
  }
}
