.header {
  display: block;
  position: absolute;
  top: 30px;
  left: 0%;
  right: 0%;

  &__container {
    /* margin: -1px 86px 0px 86px;
    padding: 0px 24px 0px 24px; */

    &__content {
      display: flex;
      background-color: rgba(255, 255, 255, 0.645);
      align-items: center;
      justify-content: space-between;
      padding: 16px 22px 16px 38px;
      font-size: 1.667em;
      color: black;
      /* border-radius: 132px; */
      border: 1px solid rgba(0, 0, 0, 0.093);

      &__logo {
        max-width: 200px;
      }

      &__ul {
        display: flex;
        justify-content: end;
        align-items: center;
        list-style: none;

        li {
          margin-left: 32px;
          text-decoration: none;
          color: black;
        }

        li:hover {
          cursor: pointer;
          color: red;
          transition: color 0.3s linear;
        }

        &__btn {
          background-color: #ff3f3f;
          padding: 18px 24px 18px 24px;
          color: white;
          font-weight: 600;
          border-radius: 76px;
          border: none;
        }

        &__btn:hover {
          cursor: pointer;
          background-color: #ff3f3f;
          transform: background-color 0.3s ease;
          transform: translate(0, -2px);
        }

        &__bag:hover {
          opacity: 20%;
          transform: scale(0.95);
          transition: opacity 0.2s ease;
        }
      }
    }
  }
}
