.notfound {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  
  background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.5),
        black
      ),
      url("../../assets/notFound.jpg");
    background-size:cover;
    // background-position: center;

  .NotFound {  
    // height: 100%;  
    // width: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 400;
    box-sizing: border-box;
    margin-left: auto;

    margin-right: auto;
    padding-right: 24px;
    padding-left: 24px;
    background-color: transparent;
    
  
    &__container {
      &__min {
        display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        &__404 {
          
          padding-top: 40px;
          margin-bottom: 12px;
          color: #ffffff;
          font-size: 150px;
          line-height: 120px;
          font-weight: 700;
          text-align: center;
        }
  
        &__text {
          margin-bottom: 24px;
          color: #ffffff;
          font-size: 40px;
          margin-top: 30px;
          line-height: 1.316em;
          font-weight: 700;
          text-align: center;
          
        }
  
        &__text2 {
          color: #ffffff;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          margin-bottom: 40px;
          margin-top: 0px;
          text-align: center;
          font-weight: 400;
          width: 70%;
        }
  
        &__home {
          height: 70px;
          width: 100%;
          -webkit-box-pack: center;
          justify-content: center;
          display: flex;
  
          &__text3 {
            padding: 10px 30px;
            justify-content: center;
            border-radius: 96px;
            background-color: #ff3f3f;
            color: #ffffff;
            line-height: 50px;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            transition-duration: 300ms;
            transform-style: preserve-3d;
          }
  
          &__text3:hover {
            background-color: #e91a1a;
            // transition-duration: 200ms;
            -webkit-transform: translate3d(0px, -3px, 0.01px);
            transform: translate3d(0px, -3px, 0.01px);
            color: #fff;
          }
        }
      }
    }
  }
  
}