.recommended {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    text-align: center;

    &__title {
      max-width: 718px;
      font-size: 40px;
      line-height: 1.161em;
      font-weight: 700;
      margin-top: 0px;
      margin-bottom: 2rem;
      color: rgba(0, 0, 0, 0.7);
    }

    &__places {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;

        &__btn__inactive {
          width: 240px;
          height: 52px;
          outline: none;
          color: black;
          padding: 11px 10px;
          background-color: white;
          border-radius: 76px;
          border: none;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 1.1rem;
          cursor: pointer;
          box-shadow: 0 2px 12px 0 rgb(20 20 43 / 50%);
        }

        &__btn__inactive:hover {
          // background-color: #ff3f3f;
          // color: #ffffff;
          transform: scale(1.05)
        }

        &__btn__inactive:focus {
          background-color: white;
          transform: scale(0.95)
        }

        &__btn__active {
          height: 62px;
          width: 240px;
          outline: none;
          background-color: #ff3f3f;
          padding: 11px 10px;
          color: white;
          border-radius: 76px;
          border: none;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 1.1rem;
          cursor: pointer;
          box-shadow: 0 2px 12px 0 rgb(20 20 43 / 50%);
        }

        &__btn__active:hover {
          background-color: #ca2626;
          transform: scale(1.05)
        }

        &__btn__active:focus {
          background-color: #ff3f3f;
          // transform: scale(0.95)
        }
        
    }

    &__map {
        max-width: 300px;
    }
}