.recommended {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;

    &__title {
      max-width: 718px;
      font-size: 62px;
      line-height: 1.161em;
      font-weight: 700;
      margin-top: 0px;
      margin-bottom: 16px;
    }

    &__places {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
  
        &__btn__inactive {
          padding: 26px 38px;
          margin-right: 26px;
          font-size: 18px;
          line-height: 20px;
          color: #191919;
          background-color: white;
          border: none;
          border-radius: 96px;
          box-shadow: 0 2px 12px 0 rgb(20 20 43 / 20%);
        }
  
        &__btn__inactive:hover {
            cursor: pointer;
            background-color: #ff3f3f;
            color: white;
            transition: background-color 0.3s ease;
            transform: translate(0, -2px);
        }
        &__btn__active {
          padding: 26px 38px;
          margin-right: 26px;
          font-size: 18px;
          line-height: 20px;
          color: white;
          background-color: #ff3f3f;
          border: none;
          border-radius: 96px;
          box-shadow: 0 2px 12px 0 rgb(20 20 43 / 20%);
        }
        &__btn__active:hover {
            cursor: pointer;
        }

    }

    &__map {
        max-width: 300px;
    }
}