.bookingcard {
    display: inline-block;
    border-radius: 1rem;
    box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
    width: 350px;
    height: 420px;
    margin: 5px;
    background-color: #ffffff1f;
    backdrop-filter: blur(6px) grayscale(20%);
  
    .link {
      text-decoration: none;
      color: #ffffff;
    }

    // p {
    //   font-size: 1.4rem;
    // }
  
    &__image {
      width: 350px;
      height: 200px;
      border: 0;
      object-fit: cover;
      vertical-align: middle;
      border-radius: 1rem 1rem 0 0;
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 32px 24px 28px 24px;
      // border: 1px solid rebeccapurple;
  
      &__res {
        display: flex;
        justify-content: center;
        margin-top: -1rem;
        margin-bottom: 1rem;
        font-size: 0.7rem;
        color: rgba(255, 255, 255, 0.8);
  
      }

      &__title {
        text-align: center;
        margin-top: -0.2rem;
        margin-bottom: 8px;
        font-size: 1.4rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &__place {
        display: flex;
        justify-content: center;
        margin-top: -0.4rem;
        margin-bottom: 1rem;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.7);
      }

      &__check {
        padding: 0.2rem;
        text-align: center;
        font-size: 0.95rem;
        color: rgb(180, 180, 180);
      }

      &__go {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        font-size: 0.7rem;
        color: rgba(255, 255, 255, 0.8);
      }
  
      &__description {
        height: 100px;
        margin-bottom: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  
      &__badges {
        margin-left: -1.5rem;
        display: flex;
        justify-content: center;
        width: 350px;
        // border: 3px solid salmon;

        &__ul {
          list-style-type: none;

          &__book {
            font-size: 1.2rem;
            color: rgba(255, 255, 255, 0.6);
          }
        }
  
        &__stars {

          display: flex;
          width: 70px;
          justify-content: space-evenly;
          align-items: center;
          padding: 14px;
          margin-right: 14px;
          font-size: 1.5rem;
          line-height: 20px;
          color: #ffffff;
          border: 1px solid #eeeeee;
          border-radius: 96px;
        }
  
      }
  
      &__divider {
        margin: 32px 0 24px 0;
        border: 1px solid rgba(162, 162, 162, 0.325);
      }
  
      &__info {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        &__btn {
          padding: 18px 24px;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 20px;
          color: white;
          background-color: #ff3f3f;
          border: none;
          border-radius: 96px;
        }
      }
    }
  }
  
  .bookingcard:hover {
    transform: scale(0.98);
    cursor: pointer;
    backdrop-filter: none;
  }

  .pending {
    opacity: 50%;
    display: inline-block;
    border-radius: 24px;
    box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
    width: 350px;
    height: 420px;
    margin: 5px;
    background-color: #ffffff1f;
    backdrop-filter: blur(6px) grayscale(20%);
  
    .link {
      text-decoration: none;
      color: #ffffff;
    }
  
    &__image {
      width: 350px;
      height: 200px;
      border: 0;
      object-fit: cover;
      vertical-align: middle;
      border-radius: 1rem 1rem 0 0;
    }
  
    &__content {
      padding: 32px 24px 28px 24px;
  
      &__title {
        display: flex;
        justify-content: center;
        margin-top: -0.2rem;
        margin-bottom: 8px;
        font-size: 1.4rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  
      &__description {
        height: 100px;
        margin-bottom: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  
      &__badges {
        display: flex;
        align-items: center;
        justify-content: center;

           &__book {
            height: 4.75rem;
            color: #ff3f3f;
            margin-top: -16.5rem;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 1rem;
            padding: 1rem;
            font-size: 2rem;
            font-weight: 600;
           }
  
      }
  
      &__divider {
        margin: 32px 0 24px 0;
        border: 1px solid rgba(162, 162, 162, 0.325);
      }
  
      &__info {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        &__btn {
          padding: 18px 24px;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 20px;
          color: white;
          background-color: #ff3f3f;
          border: none;
          border-radius: 96px;
        }
      }
    }
  }
  
  .pending:hover {
    transform: scale(0.98);
    cursor: pointer;
    opacity: 1;
    backdrop-filter: none;
  }