$primary-color: #ff3f3f;
$secondary-color: #fff2f2;

$neutral-700: #3e3e3e;
$neutral-600: #5d5d5d;
$neutral-500: #8b8b8b;
$neutral-400: #d7d5d5;
$neutral-300: #eeeeee;
$neutral-300: #fcfcfc;

$system-red-400: #dc2b2b;
$system-red-300: #ff5a65;
$system-red-200: #ffbec2;
$system-red-100: #ffeff0;

$shadow-01: 0 2px 12px 0 rgb(20 20 43 / 8%);
$shadow-02: 0 8px 28px 0 rgb(20 20 43 / 10%);
$shadow-03: 0 14px 42px 0 rgb(20 20 43 / 14%);
$shadow-04: 0 24px 65px 0 rgb(20 20 43 / 16%);
$shadow-05: 0 32px 72px 0 rgb(20 20 43 / 24%);
