* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

// p {
//   font-size: 1.8rem;
//   overflow-wrap: break-word;
// }

// h1 {
//   font-size: 1.222rem;
//   overflow-wrap: break-word;
// }

// h2 {
//   font-size: 4rem;
//   overflow-wrap: break-word;
// }

// h3 {
//   font-size: 2.3rem;
//   overflow-wrap: break-word;
// }

// h4 {
//   font-size: 1.273rem;
//   overflow-wrap: break-word;
// }

// h5 {
//   font-size: 1.333rem;
//   overflow-wrap: break-word;
// }

// h6 {
//   font-size: 1.375rem;
//   overflow-wrap: break-word;
// }

// a {
//   text-decoration: none;
// }
