.hotel {
  &__details {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-right: 300px;
    margin-left: 8%;
    align-items: center;
  }

  &__modal {
    position: absolute;
    top: 250px;
    left: 400px;
    right: 400px;
    bottom: 250px;
    background-color: white;
    border-radius: 20px;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.808);
  }
}

.hotel__details {
  margin-bottom: 60px;
}

.hotel__container {
  display: flex;
  flex-direction: row-reverse;
}