.registration {
  width: 100%;
  // background-size: 100%, cover;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 4%,
      rgba(0, 0, 0, 0.6) 64%,
      #000
    ),
    url("../assets/registerImage.jpg");
  background-size: auto, cover;
  background-repeat: no-repeat;
  justify-content: baseline;
  display: flex;
  align-items: center;
  justify-content: center;

  &__data {
    width: 60%;
    margin-top: 160px;
    max-width: 1080px;
    display: inline;
    position: initial;
    top: 220px;
    text-align: center;

    h1 {
      font-size: 50px;
      line-height: 1.161em;
      font-weight: 700;
      color: white;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      margin: 60px 0 0;
      margin: 0 auto;
      width: 50%;
      background-color: white;
      padding: 10px 0;
      border: 1px solid rgba(0, 0, 0, 0.153);
      border-radius: 30px;
      box-shadow: 0 32px 72px 0 rgb(20 20 43 / 24%);

      span {
        text-align: right;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 30px;
      }

      label {
        margin: 6px;
        display: block;
        padding: 5px;
      }

      input {
        width: 70%;
        max-height: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 16px 24px;
        border: 1px solid rgba(0, 0, 0, 0.233);
        border-radius: 100px;
        background-color: #fff;
        box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
        -webkit-transition: box-shadow 300ms ease, color 300ms ease,
          border-color 300ms ease;
        transition: box-shadow 300ms ease, color 300ms ease,
          border-color 300ms ease;
        font-size: 1rem;
        line-height: 18px;
        outline: none;
      }
    }

    &__buttonRow {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px 48px;
      margin: 60px, auto;

      button {
        outline: none;
        background-color: #ff3f3f;
        padding: 11px 22px;
        color: white;
        border-radius: 76px;
        border: none;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.25rem;
        cursor: pointer;
        box-shadow: 0 2px 12px 0 rgb(20 20 43 / 40%);
      }
  
      button:hover {
        background-color: #ca2626;
        transform: scale(1.05)
      }
  
      button:focus {
        background-color: #ff3f3f;
        transform: scale(0.95)
      }
    }
  }
}
