.welcome {
    position: center;
    margin: 0 auto;    
    padding: 0 30px;
    background-size: auto, cover;
    justify-content:baseline;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 5% 0% 0%;
    grid-template-columns: 30% 60%, 10%;

    &__data {
        margin-top: 25%;        
        max-width: 1080px;
        display:inline;
        position:initial;
        top: 220px;
        text-align: center;
        grid-column: 2;
        grid-row: 1;

        h2 {
            font-size: 50px;
            left: 100px;
            line-height: 1.161em;
            font-weight: 700;
            color: black;
            margin-top: 0px;
            margin-bottom: 16px;
          }

        h3 {
            padding: 10px 10px;
            margin-bottom: 15px;
        }

        button {
            padding: 18px 28px;
            margin-right: 25px;
            margin-left: 25px;
            border: none;
            border-radius: 40px;
            background-color: #ff3f3f;
            color: #fff;
            font-size: 18px;
            line-height: 20px;
        }
                
    }
}