.booking {
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 12px 0 rgba(20, 20, 43, 0.164);
  border: none;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  border-radius: 1.5rem;

  &__image {
    border: none;
    width: 40%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px 0 0 20px;
      object-fit: none;
      border: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 30px;
    align-items: left;
    justify-content: flex-start;
    text-align: left;

    &__title {
      margin-bottom: 1.1rem;
      font-size: 1.7rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
    }

    &__hotel {
      margin-bottom: 1.2rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.65);
    }

    &__p {
      margin-top: 0.5rem;
      text-indent: 0;
      display: flex;
      color: rgba(0, 0, 0, 0.6);
      width: 100%;
      justify-content: space-between;
    }

    &__btns {
      margin-top: 2.3rem;
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      &__red {
        padding: 26px 38px;
        margin-right: 26px;
        font-size: 1rem;
        line-height: 20px;
        color: white;
        background-color: rgb(255, 63, 63, 0.95);
        box-shadow: 0 2px 12px 0 rgba(20, 20, 43, 0.264);
        border: none;
        border-radius: 96px;
      }

      &__red:hover {
        cursor: pointer;
        background-color: #ca2626;
        transform: scale(1.05)  
        }

      &__white {
        padding: 26px 38px;
        margin-right: 26px;
        font-size: 18px;
        line-height: 20px;
        color: #191919;
        background-color: white;
        border: none;
        border-radius: 96px;
        box-shadow: 0 2px 12px 0 rgba(20, 20, 43, 0.164);
      }

      &__white:hover {
        cursor: pointer;
        background-color: #ff3f3f;
        color: white;
        transition: background-color 0.3s ease;
        transform: translate(0, -2px);
      }
    }
  }
}
