.profilecard {
  border: 2.5px solid rgb(221, 221, 221);
  width: 258px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 24px;
  border-radius: 15px;

  &__imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;

    a {
      font-size: 1.6rem;
    }

    &__image {
      width: 200px;
      height: 200px;
      object-fit:cover;
      border-radius: 100%;
    }
  }

  &__data{
    p {
      width: 100%;
      text-align: center;
      font-size: 1.6rem;
      padding: 5px 5px;
    }
  }

  &__divider {
    width: 100%;
    margin: 32px 0 24px 0;
    border: 1px solid rgba(162, 162, 162, 0.325);
  }
}
